.time {
    font-size: 200%;
    font-weight: bold;
    border: solid black 2px;
    background-color: rgb(221, 252, 221);
}

.time-0 {
    border-top-left-radius: 1.5rem;
}

.button-0 {
    border-top-right-radius: 1.5rem;
}

.time-23 {
    border-bottom-left-radius: 1.5rem;
}

.button-23 {
    border-bottom-right-radius: 1.5rem;
}

h1 {
    margin: 3%;
}

textarea {
    background-color: rgb(221, 252, 221);
}

button {
    font-weight: 500;
}

button:hover {
    background-color: darkgrey;
}

button:active {
    background-color: rgb(255, 127, 127);
}


@media (max-width: 992px) {
    .time-line {
        font-size: 0.75rem;
    }
}

@media (max-width: 768px) {
    .time-line {
        font-size: 0.5rem;
    }
}

@media (max-width: 576px) {
    .time-line {
        font-size: 0.3rem;
    }
}